.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Logo {
  width: 350px;
  height: 350px;
}
.HeadIcons {
  font-size: 40px;
  display: flex;
  flex-direction: column;
}
